body {
  margin: 0;
}

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered {
  @include centerer;
}

.passwordField {
  margin-top: 20px;
}

.loginCard {
  padding: 70px 60px;
}

.drugDetails {
  @include centerer;
  margin-top: 300px;
  padding-right: 500px;
}

.drugList {
  @include centerer;
  margin-top: 400px;
}
